.App {
  text-align: center;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  margin: 3rem auto;
  animation: color-change 5s ease-in-out infinite alternate;
}

@keyframes color-change {
  from {
    color: black;
  }
  to {
    color: rgb(234, 96, 80);
  }
}

img{
  width: 29vw;
  margin: 0 auto;
  border-radius: 20px;
}

img:nth-of-type(2){
  margin: 0 1rem;
}

section{
  display: flex;
  justify-content: space-between;
}

section p{
  font-size: 1.5rem;
}

button {
  padding: 10px 40px;
  background-color: rgb(234, 96, 80);
  border: none;
  border-radius: 20px;
  margin: 1rem auto;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff7f50;
  transform: scale(1.05);
}